/interpretability
/.vscode
/__pycache__
/models
/OldStuff/Mathijs/cifar_net.pth
/OldStuff/Frederik/data
/OldStuff/Frederik/best_*
/OldStuff/GPU_monitor/.bot_token
/OldStuff/GPU_monitor/chat_ids.txt
/OldStuff/GPU_monitor/user_state.json
