/Data
/CIFAKE-Real-and-AI-Generated-Synthetic-Images
/output_txt_files
/interpretability
/models
/Mathijs/cifar_net.pth
/Frederik/data
/Frederik/best_*
/.vscode
/__pycache__
/GPU_monitor/.bot_token
/GPU_monitor/chat_ids.txt
/GPU_monitor/user_state.json
